{% extends "base.html" %}

{% block title %}Оценить вашу конфигурацию{% endblock %}

{% block content %}
  <section>
    <div id="evaluate">
      <h2>Оценить вашу конфигурацию</h2>
      <p v-if="loading">Загрузка данных...</p>
      <p v-if="error" style="color: red;">Ошибка: Обработки моделью!</p>
      
      <div class="component-name">Ваш текущий процессор</div>
      <select v-model="selectedCpu">
          <option disabled value="">Выберите процессор</option>
          <option 
              v-for="cpu in cpus_options" 
              :value="cpu.name" 
              :key="cpu.id"
          >
              [[ cpu.name ]]
          </option>
      </select>
      
      <!-- Блок оценки CPU -->
      <div class="performance-rating" v-if="cpuScore">
          <div class="rating-bar">
              <div class="rating-label">Производительность CPU:</div>
              <div class="rating-value">[[ cpuScore ]] %</div>
              <div class="rating-visual" :class="getRatingClass(cpuScore)" :style="{ width: cpuScore/5 + '%' }"></div>
          </div>
          <div class="rating-description">
              [[ cpuDescription ]]
          </div>
      </div>
      
      <br><br>
      
      <div class="component-name">Ваша текущая видеокарта</div>
      <select v-model="selectedGpu">
          <option disabled value="">Выберите видеокарту</option>
          <option 
              v-for="gpu in gpus_options" 
              :value="gpu.name" 
              :key="gpu.id"
          >
              [[ gpu.name ]]
          </option>
      </select>
      
      <!-- Блок оценки GPU -->
      <div class="performance-rating" v-if="gpuScore">
            <div class="rating-bar">
                <div class="rating-label">Производительность GPU:</div>
                <div class="rating-value">[[ gpuScore ]] %</div>
                <div class="rating-visual" :class="getRatingClass(gpuScore)" :style="{ width: gpuScore/5 + '%' }"></div>
            </div>
            <div class="rating-description">
                [[ gpuDescription ]]
            </div>
      </div>
      
      <br><br>
      
      <div class="component-name">Сфера деятельности</div>
      <div class="resolution-options">
          <label class="resolution-option">
              <input type="radio" v-model="selectedSphere" value="gaming">
              <span class="radio-custom"></span>
              <span class="radio-label">Гейминг</span>
          </label>
          <label class="resolution-option">
              <input type="radio" v-model="selectedSphere" value="3d">
              <span class="radio-custom"></span>
              <span class="radio-label">3D-моделирование</span>
          </label>
          <label class="resolution-option">
              <input type="radio" v-model="selectedSphere" value="video">
              <span class="radio-custom"></span>
              <span class="radio-label">Видеомонтаж</span>
          </label>
          <label class="resolution-option">
            <input type="radio" v-model="selectedSphere" value="ml">
            <span class="radio-custom"></span>
            <span class="radio-label">Машинное обучение</span>
        </label>
      </div>
      
      <br><br>

      <div class="component-name">Целевой уровень производительности</div>
      <div class="resolution-options">
          <label class="resolution-option">
              <input type="radio" v-model="selectedLvl" value="base">
              <span class="radio-custom"></span>
              <span class="radio-label">Базовый</span>
          </label>
          <label class="resolution-option">
              <input type="radio" v-model="selectedLvl" value="advanced">
              <span class="radio-custom"></span>
              <span class="radio-label">Продвинутый</span>
          </label>
          <label class="resolution-option">
              <input type="radio" v-model="selectedLvl" value="pro">
              <span class="radio-custom"></span>
              <span class="radio-label">Профессиональный</span>
          </label>
      </div>
      
      <br><br>
      
      <button class="evaluate-button" @click="submitForm">Оценить конфигурацию</button>
  </div>
  </section>
{% endblock %}