{% extends "base.html" %}

{% block title %}Домашняя страница{% endblock %}

{% block content %}
    <h2>Домашняя страница</h2>
    <p>Добро пожаловать на PC AI Helper - ресурс, который поможет вам подобрать конфигурацию ПК по вашим потребностям!</p>
    <p>В разделе <b>"Сформировать конфигурацию ПК"</b> вы можете пройти короткий опрос и получить основные компоненты конфигурации для ваших задач.</p>
    <p>В разделе <b>"Оценить вашу конфигурацию"</b> вы можете оценить вашу текущую конфигурацию по различным уровням производительности и сферам деятельности.</p>
    <p>Если возникли вопросы касательно сборок под разные задачи - в разделе <b>"Информация по конфигурации ПК"</b> находится информация и советы по основным сборкам.</p>
{% endblock %}