{% extends "base.html" %}

{% block title %}Домашняя страница{% endblock %}

{% block content %}
    <h2>Домашняя страница</h2>
    <p>Добро пожаловать на PC AI Helper - ресурс, который поможет вам подобрать конфигурацию ПК по вашим потребностям!</p>
    <p>Для этого можете перейти в раздел "Сформировать конфигурацию ПК", пройти короткий опрос и получить основные компоненты конфигурации для ваших задач.</p>
    <br>
    <p>Если возникли вопросы касательно сборок под разные задачи - в разделе "Информация по конфигурации ПК" находится информация и советы по основным сборкам.</p>
{% endblock %}